<div class="page-header">
  <%= link_to administradors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to @administrador, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostar
  <% end %>
  <h1>Editando administrador</h1>
</div>

<%= render 'form' %>
