<div class="page-header">
  <%= link_to usuarios_administradors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to usuarios_administrador_path(@usuario), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostar
  <% end %>
  <h1>Editando usuario</h1>
</div>

<%= render 'form' %>
